@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/SourceSansPro-Regular.ttf ) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'MyFont';
  font-weight: 900;
  src: local('MyFont'), url(./fonts/SourceSansPro-Bold.ttf ) format('truetype');
}


@font-face {
  font-family: 'MyFont';
  font-weight: 900;
  src: local('MyFont'), url(./fonts/SourceSansPro-Black.ttf ) format('truetype');
}

.App {
  text-align: center;
  font-family: MyFont;
}

body, html, .App {
  background-color: blanchedalmond;
  overflow-x: hidden;
}

.homepage, .experience, .projects {
  background-color: burlywood;
  border-radius: 15px;
  opacity: 0.8;
  margin: 40px;
  padding: 10px;
  height: auto;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

#skills-details {
  margin-left: 10px;
  margin-right: 10px;
}

#avatar {
  border-radius: 15px;
  margin: 15px;
  animation: zoom-out-left 1s 1;
}

.navigation {
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  animation: slide-right 1s 1;
}

footer {
  margin-top: auto;
  bottom: 0;
  position:fixed;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .homepage {
    width: 95%;
  }
  
  footer {
    position: relative;
  }
}

@media screen and (min-width: 801px){
  .card {
    width: calc(100% * (1/4) - 10px - 1px);
  }
}

@keyframes zoom-out-left {
  from {padding-left: 100px;}
  to {padding-left: 0px;}
}

@keyframes slide-right {
  from {right: -500px;}
  to {right: 0px;}
}

@keyframes slide-down {
  from {margin-bottom: 500px;}
  to {margin-bottom: 0px;}
}
