@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/SourceSansPro-Regular.ttf ) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'MyFont';
  font-weight: 900;
  src: local('MyFont'), url(./fonts/SourceSansPro-Bold.ttf ) format('truetype');
}

.App {
  text-align: center;
  font-family: MyFont;
}

body, html, .App {
  background-color: blanchedalmond;
}

.homepage, .experience, .projects {
  background-color: burlywood;
  border-radius: 25px;
  opacity: 0.8;
  margin: 40px;
  padding: 10px;
  height: auto;
}

.flex-container {
  display: flex;
}

.card {
  margin: 5px;
}

@media screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}