@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(./fonts/SourceSansPro-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "MyFont";
  font-weight: 900;
  src: local("MyFont"), url(./fonts/SourceSansPro-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "MyFont";
  font-weight: 900;
  src: local("MyFont"), url(./fonts/SourceSansPro-Black.ttf) format("truetype");
}

.App {
  text-align: center;
  font-family: MyFont;
}

body,
html,
.App {
  background-color: blanchedalmond;
  overflow-x: hidden;
}

.homepage,
.experience,
.projects,
.about-me {
  background-color: burlywood;
  border-radius: 15px;
  opacity: 0.8;
  margin: 40px;
  padding: 10px;
  height: auto;
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

.about-me article{
	text-align: left;
}

#skills {
  animation: fade-out 2.5s 1;
}

#skills-details {
  margin-left: 10px;
  margin-right: 10px;
}

#avatar {
  border-radius: 15px;
  margin-left: 15px;
  animation: zoom-out-left 1s 1;
}

.navigation {
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  margin: 5px;
  animation: slide-right 1s 1;
}

.experience-card {
  margin: 5px;
  animation: slide-down 1s 1;
}

footer {
  height: 30px;
  background-color: white;
  opacity: 0.6;
  margin-top: auto;
  bottom: 0;
  position: fixed;
  text-align: center;
  padding: 10px;
}

footer:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .homepage {
    width: 95%;
  }

  footer {
    position: relative;
  }
}

@media screen and (min-width: 801px) {
  .project-card, .experience-card {
    width: calc(100% * (1 / 4) - 10px - 1px);
  }
}

@keyframes zoom-out-left {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
